langgraph
langchain
langchain-groq
langchain-google-genai
langchain-tavily
langchain-huggingface
langchain-community
langchain-classic
langchain-text-splitters
langchain-core
yfinance
python-dotenv
faiss-cpu
pydantic
sentence-transformers
rank-bm25
pypdf
